/* .layout {
    width: 100vw;
    height: 100vh;

} */

.layout {
    display: flex;
    flex-direction: column;
    height: 100vh; /* occupy full viewport height */
    overflow: auto; /* enable scroll if needed */
}
